Node.js dependencies
/node_modules

Environment variables
.env
.env.local

Build artifacts
/build
/dist
/public/build
/public/dist

Editor and IDE-specific files
.vscode/
.idea/
.log
npm-debug.log

OS-specific files
.DS_Store
Thumbs.db

